<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/app.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
</head>

<body>
<div class="am-cf admin-main">
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg"> </strong>
                    <small>
                        <i class="icon-home"></i> &gt; 首页 &gt; 部门管理
                    </small>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default btnAdd">
                                    <span class="icon-plus"></span> 新增
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input class="am-form-field" id="departName" placeholder="请输入部门名称" type="text" name="hohai">
                            <span class="am-input-group-btn">
										<button class="am-btn am-btn-default" type="submit" id="search" name="search"   onclick="setDate(this)">
											搜索
										</button> </span>
                        </div>
                    </div>
                </div>

                <div class="am-g" style="margin-top: -30px;">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check">
                                        <input id="chkAll" type="checkbox">
                                    </th>
                                    <th class="table-id">
                                        ID
                                    </th>
                                    <th class="table-title">
                                        部门名称
                                    </th>
                                    <th class="table-set">
                                        操作
                                    </th>
                                </tr>
                                </thead>
                                <nobr>
                                    {% for line in info_list %}
                                        <tbody id="tUser">
                                        <td><input name="test" value="{{ line.depart_num }}" type="checkbox"></td>
                                        <td>{{ line.depart_num }}</td>
                                        <td>{{ line.depart_name }}</td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <button name="edit" type="button" id="{{ line.depart_num }}"
                                                        class="am-btn am-btn-default am-btn-xs am-text-secondary btnedit"
                                                        onclick="setDate(this)"
                                                        value="{{ line.depart_num }}"><span
                                                        class="am-icon-pencil-square-o"></span> 编辑
                                                </button>
                                                <button name="cancel"
                                                        id="{{ line.depart_num }}"
                                                        type="submit"
                                                        onclick="setDate(this)"
                                                        value="cancel"
                                                        class="am-btn am-btn-default am-btn-xs am-text-danger amt-hide-sm-only"
                                                <span
                                                        class="am-icon-trash-o"></span> 删除
                                                </button>
                                            </div>
                                        </div>
                                        </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                    </nobr>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="/static/myplugs/js/plugs.js"></script>

<script>



    function setDate(th) {
        var inputValue = document.getElementById("departName").value;
        var b = th.id;
        var c = th.name;
        $.ajax({
            url: "/depart.html",
            type: "POST",
            data: {
                test: b,
                love: c,
                hey:inputValue,
            },
            success: function (data) {
            }
        })
    }

    function resetUser(){
        myVue.reserUser();
        return false;
    }

    $(function () {
        $(".btnedit").click(function () {
            $.jq_Panel({
                title: "修改部门{{ depart_num }}",
                iframeWidth: 500,
                iframeHeight: 300,
                url: "addDepart1.html"
            });
        });


        $(".btnAdd").click(function () {
            $.jq_Panel({
                title: "添加部门",
                iframeWidth: 500,
                iframeHeight: 300,
                url: 'addDepart.html'
            });
        });
    });
</script>
</body>

</html>